{% extends "base.html" %}

{% block content %}
    <main class="main">
        <section>
            <h1>Trending posts</h1>
            {% for entry in entries %}
            <article class="entry">
                <div>
                    <h2 class="entry__title">{{ entry[0] }}</h2>
                    <time class="entry__date" datetime="{{ entry[1] }}">{{ entry[3] }}</time>
                </div>
                <p class="entry__content">
                    {{ entry[1] }}
                </p>
            </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}